body {
    background-color: blueviolet;
    background-color: hsl(0, 0%, 93%)
}
header {
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
#title{
    font-size: 50px;
    font-style: italic;
    color: rgb(73, 32, 138);

}
section {
    padding: 15px;
    margin: auto;
    justify-content: space-between;
    align-items: center;
}
form {
    display: inline-block;
    justify-content: space-between;
    padding: 20px;
    clear: both;
    
}
img {
    max-width: 400px;
    max-height: 1000px;
}
input[type = "text"]{
    border-radius: 4px;
    border: none;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.10), 0 1px 2px rgba(0, 0, 0, 0.20);
    color: inherit;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 14px;
    padding: 15px;
    min-width: 300px;
}
input[type = "number"], #month {
    border-radius: 4px;
    border: none;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.10), 0 1px 2px rgba(0, 0, 0, 0.20);
    color: inherit;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 14px;
    padding: 15px;
    clear: both;
}

input[type = "button"] {
    border-radius: 4px;
    border:hsla(287, 36%, 82%, 0.829);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.219), 0 1px 2px rgba(0, 0, 0, 0.20);
    background-color: hsla(278, 56%, 72%, 0.459);
    font-family: 'Nunito Sans', sans-serif;
    font-size: 14px;
    padding: 13px;        

}
#flag, #countryInfo {
    float:left;
    margin:10px;
    padding-right: 30px;
}
#countryName, #holidaysTitle {
    font-size: 35px;
    font-style: oblique;
    justify-items: center;
}